<h1>投稿一覧</h1>
<p><%= notice %></p>
<table>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td><%= image_tag blog.image.url %></td>
    <td><%= link_to '詳細確認', blog_path(blog.id) %></td>
    <td><%= link_to "投稿編集", edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to '投稿削除', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しく投稿する', new_blog_path %>