<%= form_with(model: @user, local: true) do |form| %>
  <div class="field">
  <%= form.label :image %>
  <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
  <%= form.file_field :image %>
  <%= form.hidden_field :image_cache %>
  </div>
  <div class="blog_content">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
  <%= form.submit %>
<% end %>
<%= link_to '投稿一覧画面に戻る', blogs_path %> 