<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<% if @user.image? %>
  <div><%= image_tag @user.image.url %></div>
<% end %>
<%= link_to '新しく投稿する', new_blog_path %>
<%= link_to "投稿一覧画面にもどる", blogs_path %>
<%= link_to "お気に入り一覧",  user_favorites_path(@user) %> 
<% if @user == current_user %>
  <%= link_to "ユーザー情報の編集をする",  edit_user_path(@user) %> 
<% end %>